@import "../../styles/mixin";

.profile_page{
  p, span{
    font-family: Helvetica Neue,Tahoma,Arial;
  }
}
.profile-number{
  padding-top:1.95rem;
  .profile-link{
    display:block;
    display:flex;
    box-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background:$blue;
    padding: .666667rem .6rem;
    .privateImage{
      display:inline-block;
      @include wh(2.5rem,2.5rem);
      border-radius:50%;
      vertical-align:middle;
      .privateImage-svg{
        background:$fc;
        border-radius:50%;
        @include wh(2.5rem,2.5rem);
      }
    }
    .user-info{
      margin-left:.48rem;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      p{
        font-weight:700;
        @include sc(.8rem,$fc);
        .user-icon{
          @include wh(0.5rem,0.75rem);
          display:inline-block;
          vertical-align:middle;
          line-height:0.75rem;
          .icon-mobile{
            @include wh(100%,100%);
          }
        }
        .icon-mobile-number{
          display:inline-block;
          @include sc(.57333rem,$fc);

        }
      }

    }
    .arrow{
      @include wh(.46667rem,.98rem);
      display:inline-block;
      svg{
        @include wh(100%,100%);
      }
    }
  }
}
.info-data{
  width:100%;
  background:$fc;
  box-sizing: border-box;
  ul{
    .info-data-link{
      float:left;
      width:33.33%;
      display:inline-block;
      border-right:1px solid #f1f1f1;
      span{
        display:block;
        width:100%;
        text-align:center;
      }
      .info-data-top{
        @include sc(.55rem,#333);
        padding: .853333rem 0 .453333rem;
        b{
          display:inline-block;
          @include sc(1.2rem,#f90);
          font-weight:700;
          line-height:1rem;
          font-family: Helvetica Neue,Tahoma;
        }
      }
      .info-data-bottom{
        @include sc(.57333rem,#666);
        font-weight:400;
        padding-bottom:.453333rem;

      }
    }
  }
}
.profile-1reTe{
  margin-top:.4rem;
  background:$fc;
  .myorder{
    padding-left:1.6rem;
    display:flex;
    align-items: center;
    aside{
      @include wh(.7rem,.7rem);
      margin-left:-.866667rem;
      margin-right:.266667rem;
      display:flex;
      align-items: center;
      svg{
        @include wh(100%,100%);
      }
    }
    .myorder-div{
      width:100%;
      border-bottom:1px solid #f1f1f1;
      padding:.433333rem .266667rem .433333rem 0;
      @include sc(.7rem,#333);
      display:flex;
      justify-content:space-between;
      span{
        display:block;
      }
      .myorder-divsvg{
        @include wh(.46667rem,.466667rem);
        svg{
          @include wh(100%,100%);
        }
      }
    }
  }
  .myorder:nth-of-type(3) .myorder-div{
    border:0;
  }
}
.router-slid-enter-active, .router-slid-leave-active {
  transition: all .4s;
}
.router-slid-enter, .router-slid-leave-active {
  transform: translate3d(2rem, 0, 0);
  opacity: 0;
}
