@import '../../../styles/mixin';
.rating_container{
  position: relative;
  @include wh(2rem, .4rem);
  .star_overflow{
    overflow: hidden;
    position: relative;
    height: 100%;
  }
  .star_container{
    position: absolute;
    display: flex;
    width: 2rem;
    height: 0.4rem;
    top: -0.02rem;
    left: -0.02rem;
    .grey_fill{
      fill: #d1d1d1;
    }
    .orange_fill{
      fill: #ff9a0d;
    }
  }
}
